$color: (bg-body: #FBFCFF,
  warning: #ffbb00,
  primary: #0442D0,
  danger: #FB3453,
  complete: #D3D5DB,
  bg-danger: #FEEAEB,
  bg-complete: #F2F4F8,
  bg-footer: #FFFFFF,
  fcolor: #525C77,
  t-mobile: #FABE2C);

$size: (logo: 30px,
  h1: 35px,
  h2: 25px,
  xl: 22px,
  l: 20px,
  md: 18px,
  p: 15px,
  x-sm: 10px,
  img: 52px,
  img-m: 56px);

.t-mobile {
  color: map-get($color, t-mobile);
}

.c-h1 {
  color: map-get($color, fcolor);
}

.c-primary {
  color: map-get($color, primary);
}

.c-white {
  color: map-get($color, complete);
}

.f-logo {
  font-size: map-get($size, logo);
}

.f-h1 {
  font-size: map-get($size, h1);
}

.f-h2 {
  font-size: map-get($size, h2);
}

.f-xl {
  font-size: map-get($size, xl);
}

.f-l {
  font-size: map-get($size, l);
}

.f-md {
  font-size: map-get($size, md);
}

.f-p {
  font-size: map-get($size, p);
}

.f-xs {
  font-size: map-get($size, x-sm);
}

.bg-primary {
  background: map-get($color, primary);
}

.bg-white {
  background: map-get($color, bg-footer)
}

.bg-danger {
  background: map-get($color, bg-danger);
}

.bg-body {
  background: map-get($color, bg-body);
}

.cursor {
  cursor: pointer;
}

.img-profile {
  vertical-align: middle;
  width: map-get($size, img);
  height: map-get($size, img);
  border-radius: 50%;
}

.img-mobile {
  vertical-align: middle;
  width: map-get($size, img-m);
  height: map-get($size, img-m);
  border-radius: 50%;
}